<div class="alert alert-dismissible alert-light">
  <div class="card-body">
    <h3 class="alert-heading">Hubo un error:</h3>
    <hr class="my-2" />
    <h6>
      <div class="text-muted">
        {{error}}
      </div>
    </h6>
    <button type="button" class="btn btn-outline-primary"><a
        href="/notes"
      >&lt;&lt; Volver a la lista</a></button>
  </div>
</div>