   <div class="jumbotron mt-4 fondo fondo-util">
       <h1 class="display-4 subrayar">OrganizerIT</h1>
       <p class="lead"> <strong>¡Bienvenido!</strong> Te presento una aplicación sencilla que podrás utilizar para poder hacer un seguimiento de tu día de estudio, en el cual puedes utilizar las distintas opciones que ofrece. <strong>OrganizerIT</strong> es una app aun en desarrollo, cualquier tipo de reseña y consejo siempre es bien recibido. Abajo dejaré los medios por los cuales podrás contactarme. ¡Disfruta de la App!</p>
       <hr class="my-4" style="color: mediumpurple; border: 2px solid">
       <p>Hola, mi nombre es francisco, actualmente soy developer junior. Este proyecto fue desarrolla con ayuda de <a href="https://www.comunidadit.org/" target="_blank"> <strong>ComIT</strong></a> (visita la página, no te vas a arrepentir). También te invito a que des un vistazo en GitHub, donde podrás encontrar el código de esta app y muchos otros proyectos que desarrolle o están en desarrollo. ¡Un Saludo!</p>
       <a href="https://github.com/cabrerafrancisco" target="_blank" class="btn btn-outline-dark">GitHub</a>
   </div>

   <div class="jumbotron mt-4 fondo fondo-util" id="background-pom">
        <h1>DESCRIPCIÓN</h1>
        <hr class="my-4">
        <p>
             <h3 class="subrayar">Que encontraremos en OrganizerIT?</h3>

                <p leftmargin=10px > OrganizerIT es una App web en desarrollo, el fin es que distintos estudiantes la puedan utilizar para una mejor organización a la hora de dedicar un tiempo a un predeterminado temario. La aplicación tiene una sección en la cual podremos utilizar la famosa técnica pomodoro, unas de las más eficientes técnicas de estudio actualmente. También contamos con un login-register para poder disfrutar de otro beneficio que es para usuarios registrados, este beneficio es una CRUD (Create, Read, Update, Delete) de notas, todo esto se almacena en una base de datos y tiene todas las restricciones correspondientes.</p>

             <h3 class="subrayar">Que tecnologías se implementaron?</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Boostrap</li>
                    <li>JavaScript</li>
                    <li>NodeJs</li>
                    <li>Express</li>
                    <li>MongoDb</li>
                </ul>

             <h3 class="subrayar">Proximas actualizaciones</h3>

                <p>La aplicación actualmente esta en su primera version, pero funciona en todos los dispositivos ya que es una app responsive. Lo siguiente a agregar sera una mayor variedad de utilidades para las notas (distintos colores, tipos de notas, recordatorios al ingresar fechas). Mas adelante tambien se agregara una to-do list para implementarla en la seccion de pomodoro para un mejor seguimiento de las actividades realizadas y por realizar.</p>

        </p>
    </div>