   <div class="jumbotron mt-4">
       <h1 class="display-4">OrganizerIT</h1>
       <p class="lead">TEXTO BIENVENIDA Y PRESENTACION</p>
       <hr class="my-4">
       <p>SUGERENCIAS DE OTROS PROYECTOS Y LINK A GITHUB, (tambien se podrian agregar otro tipo de informaciones personales)</p>
       <a href="https://google.com" class="btn btn-primary">click</a>
   </div>