{{#if notificacion}}
<div class="alert alert-dismissible alert-light">
    <h6><span class="badge bg-info">Notificacion:  </span> {{notificacion}}</h6>
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}